ul {
    margin:0px;
    padding:0px;
    list-style-type:none;
}
ul ul{
    display:none;
    color:rgba(150,150,150,0.5);
    margin-left:1em;
}
ul li:hover > ul{
    display: block;
}
a,a:visited {
    text-decoration:none;
    color:black;
}
a:hover {
    text-decoration:underline;
}