USE [master]
GO
/****** Object:  Database [PersonAddress]    Script Date: 22/08/2014 00:25:59 ******/
CREATE DATABASE [PersonAddress]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonAddress', FILENAME = N'E:\PROGRAMS\SQLServer\MSSQL12.SQLEXPRESS\MSSQL\DATA\PersonAddress.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PersonAddress_log', FILENAME = N'E:\PROGRAMS\SQLServer\MSSQL12.SQLEXPRESS\MSSQL\DATA\PersonAddress_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonAddress].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonAddress]
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 22/08/2014 00:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[AddressName] [text] NOT NULL,
	[TownID] [int] NOT NULL,
 CONSTRAINT [PK_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTINENT]    Script Date: 22/08/2014 00:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTINENT](
	[ContinentID] [int] IDENTITY(1,1) NOT NULL,
	[ContinentName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CONTINENT] PRIMARY KEY CLUSTERED 
(
	[ContinentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 22/08/2014 00:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
	[ContinentID] [int] NOT NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSON]    Script Date: 22/08/2014 00:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[PersonName] [nvarchar](50) NOT NULL,
	[AddressID] [int] NOT NULL,
 CONSTRAINT [PK_PERSON] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOWN]    Script Date: 22/08/2014 00:25:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOWN](
	[TownID] [int] IDENTITY(1,1) NOT NULL,
	[TownName] [nvarchar](50) NOT NULL,
	[CountryID] [int] NOT NULL,
 CONSTRAINT [PK_TOWN] PRIMARY KEY CLUSTERED 
(
	[TownID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ADDRESS] ON 

INSERT [dbo].[ADDRESS] ([AddressID], [AddressName], [TownID]) VALUES (5, N'Maria Luisa 19', 7)
INSERT [dbo].[ADDRESS] ([AddressID], [AddressName], [TownID]) VALUES (6, N'Mladost 1 Telerik Academy', 7)
INSERT [dbo].[ADDRESS] ([AddressID], [AddressName], [TownID]) VALUES (7, N'Gatlango 22', 10)
SET IDENTITY_INSERT [dbo].[ADDRESS] OFF
SET IDENTITY_INSERT [dbo].[CONTINENT] ON 

INSERT [dbo].[CONTINENT] ([ContinentID], [ContinentName]) VALUES (1, N'Europe')
INSERT [dbo].[CONTINENT] ([ContinentID], [ContinentName]) VALUES (2, N'Asia')
INSERT [dbo].[CONTINENT] ([ContinentID], [ContinentName]) VALUES (3, N'Africa')
SET IDENTITY_INSERT [dbo].[CONTINENT] OFF
SET IDENTITY_INSERT [dbo].[COUNTRY] ON 

INSERT [dbo].[COUNTRY] ([CountryID], [CountryName], [ContinentID]) VALUES (1, N'Russia', 1)
INSERT [dbo].[COUNTRY] ([CountryID], [CountryName], [ContinentID]) VALUES (3, N'Bulgaria', 1)
INSERT [dbo].[COUNTRY] ([CountryID], [CountryName], [ContinentID]) VALUES (4, N'Korea', 2)
SET IDENTITY_INSERT [dbo].[COUNTRY] OFF
SET IDENTITY_INSERT [dbo].[PERSON] ON 

INSERT [dbo].[PERSON] ([PersonID], [PersonName], [AddressID]) VALUES (1, N'Vankata', 5)
INSERT [dbo].[PERSON] ([PersonID], [PersonName], [AddressID]) VALUES (2, N'Ivo', 6)
INSERT [dbo].[PERSON] ([PersonID], [PersonName], [AddressID]) VALUES (3, N'Gosho', 5)
SET IDENTITY_INSERT [dbo].[PERSON] OFF
SET IDENTITY_INSERT [dbo].[TOWN] ON 

INSERT [dbo].[TOWN] ([TownID], [TownName], [CountryID]) VALUES (1, N'Moscow', 1)
INSERT [dbo].[TOWN] ([TownID], [TownName], [CountryID]) VALUES (2, N'St.Peterburg', 1)
INSERT [dbo].[TOWN] ([TownID], [TownName], [CountryID]) VALUES (7, N'Sofia', 3)
SET IDENTITY_INSERT [dbo].[TOWN] OFF
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESS_TOWN] FOREIGN KEY([TownID])
REFERENCES [dbo].[TOWN] ([TownID])
GO
ALTER TABLE [dbo].[ADDRESS] CHECK CONSTRAINT [FK_ADDRESS_TOWN]
GO
ALTER TABLE [dbo].[COUNTRY]  WITH CHECK ADD  CONSTRAINT [FK_COUNTRY_CONTINENT] FOREIGN KEY([ContinentID])
REFERENCES [dbo].[CONTINENT] ([ContinentID])
GO
ALTER TABLE [dbo].[COUNTRY] CHECK CONSTRAINT [FK_COUNTRY_CONTINENT]
GO
ALTER TABLE [dbo].[PERSON]  WITH CHECK ADD  CONSTRAINT [FK_PERSON_ADDRESS] FOREIGN KEY([AddressID])
REFERENCES [dbo].[ADDRESS] ([AddressID])
GO
ALTER TABLE [dbo].[PERSON] CHECK CONSTRAINT [FK_PERSON_ADDRESS]
GO
ALTER TABLE [dbo].[TOWN]  WITH CHECK ADD  CONSTRAINT [FK_TOWN_COUNTRY] FOREIGN KEY([CountryID])
REFERENCES [dbo].[COUNTRY] ([CountryID])
GO
ALTER TABLE [dbo].[TOWN] CHECK CONSTRAINT [FK_TOWN_COUNTRY]
GO
USE [master]
GO
