USE [master]
GO
/****** Object:  Database [University]    Script Date: 22/08/2014 17:38:29 ******/
CREATE DATABASE [University]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'University', FILENAME = N'E:\PROGRAMS\SQLServer\MSSQL12.SQLEXPRESS\MSSQL\DATA\University.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'University_log', FILENAME = N'E:\PROGRAMS\SQLServer\MSSQL12.SQLEXPRESS\MSSQL\DATA\University_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [University].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [University]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 22/08/2014 17:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](50) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[ProfessorID] [int] NOT NULL,
 CONSTRAINT [PK_COURSES] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CoursesStudents]    Script Date: 22/08/2014 17:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoursesStudents](
	[CourseID] [int] NOT NULL,
	[StudentID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 22/08/2014 17:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
	[FacultyID] [int] NOT NULL,
 CONSTRAINT [PK_DEPARTMENTS] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FACULTIES]    Script Date: 22/08/2014 17:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACULTIES](
	[FacultyID] [int] IDENTITY(1,1) NOT NULL,
	[FacultyName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FACULTIES] PRIMARY KEY CLUSTERED 
(
	[FacultyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROFESSORS]    Script Date: 22/08/2014 17:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSORS](
	[ProfessorID] [int] IDENTITY(1,1) NOT NULL,
	[ProfessorName] [nvarchar](50) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[TitleID] [int] NULL,
 CONSTRAINT [PK_PROFESSORS] PRIMARY KEY CLUSTERED 
(
	[ProfessorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProfessorsAndPRofessortTitles]    Script Date: 22/08/2014 17:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProfessorsAndPRofessortTitles](
	[ProfessortID] [int] NOT NULL,
	[TitleID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROFESSORTITLES]    Script Date: 22/08/2014 17:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESSORTITLES](
	[TitleID] [int] IDENTITY(1,1) NOT NULL,
	[TitleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PROFESSORTITLES] PRIMARY KEY CLUSTERED 
(
	[TitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 22/08/2014 17:38:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](50) NOT NULL,
	[FacultyID] [int] NOT NULL,
 CONSTRAINT [PK_STUDENTS] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_DEPARTMENTS] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENTS] ([DepartmentID])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_DEPARTMENTS]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_PROFESSORS] FOREIGN KEY([ProfessorID])
REFERENCES [dbo].[PROFESSORS] ([ProfessorID])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_PROFESSORS]
GO
ALTER TABLE [dbo].[CoursesStudents]  WITH CHECK ADD  CONSTRAINT [FK_CoursesStudents_COURSES] FOREIGN KEY([CourseID])
REFERENCES [dbo].[COURSES] ([CourseID])
GO
ALTER TABLE [dbo].[CoursesStudents] CHECK CONSTRAINT [FK_CoursesStudents_COURSES]
GO
ALTER TABLE [dbo].[CoursesStudents]  WITH CHECK ADD  CONSTRAINT [FK_CoursesStudents_STUDENTS] FOREIGN KEY([StudentID])
REFERENCES [dbo].[STUDENTS] ([StudentID])
GO
ALTER TABLE [dbo].[CoursesStudents] CHECK CONSTRAINT [FK_CoursesStudents_STUDENTS]
GO
ALTER TABLE [dbo].[DEPARTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENTS_FACULTIES] FOREIGN KEY([FacultyID])
REFERENCES [dbo].[FACULTIES] ([FacultyID])
GO
ALTER TABLE [dbo].[DEPARTMENTS] CHECK CONSTRAINT [FK_DEPARTMENTS_FACULTIES]
GO
ALTER TABLE [dbo].[PROFESSORS]  WITH CHECK ADD  CONSTRAINT [FK_PROFESSORS_DEPARTMENTS] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENTS] ([DepartmentID])
GO
ALTER TABLE [dbo].[PROFESSORS] CHECK CONSTRAINT [FK_PROFESSORS_DEPARTMENTS]
GO
ALTER TABLE [dbo].[ProfessorsAndPRofessortTitles]  WITH CHECK ADD  CONSTRAINT [FK_ProfessorsAndPRofessortTitles_PROFESSORS] FOREIGN KEY([ProfessortID])
REFERENCES [dbo].[PROFESSORS] ([ProfessorID])
GO
ALTER TABLE [dbo].[ProfessorsAndPRofessortTitles] CHECK CONSTRAINT [FK_ProfessorsAndPRofessortTitles_PROFESSORS]
GO
ALTER TABLE [dbo].[ProfessorsAndPRofessortTitles]  WITH CHECK ADD  CONSTRAINT [FK_ProfessorsAndPRofessortTitles_PROFESSORTITLES] FOREIGN KEY([TitleID])
REFERENCES [dbo].[PROFESSORTITLES] ([TitleID])
GO
ALTER TABLE [dbo].[ProfessorsAndPRofessortTitles] CHECK CONSTRAINT [FK_ProfessorsAndPRofessortTitles_PROFESSORTITLES]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_FACULTIES] FOREIGN KEY([FacultyID])
REFERENCES [dbo].[FACULTIES] ([FacultyID])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [FK_STUDENTS_FACULTIES]
GO
USE [master]
GO
