body form{
    width:462px;
    border:2px solid black;
    border-radius:3px;
}

body form table {
border:2px solid yellow;
}
body form table td{
border:1px solid black;
}

body form table tfoot {
background-color:cyan;
}

body form table tfoot tr td p {
    text-align:center;
}
body tbody tr td.label{
    text-align:right;
}
body tbody tr td input.single {
    width:95%;
}
body tbody tr td textarea {
    width:97%;
}